.containerCount {
    width: 200px;
    padding: 1rem;
    background-color: #ededed;
    margin-right: auto;
    margin-left: auto;
}

.img-detailContainer {
    padding:0;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    max-height: 80vh;
  }
  .img-detailContainer img {
    -webkit-transition: all 0.9s ease; /* Safari y Chrome */
    -moz-transition: all 0.9s ease; /* Firefox */
    -o-transition: all 0.9s ease; /* IE 9 */
    -ms-transition: all 0.9s ease; /* Opera */
    transition: all 1.5s ease;
    width: 100%;
  }
  .img-detailContainer:hover img {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(0.8);
    transform:  scale(1.1) rotate(5deg);
  }

  .detailItemContainer{
    padding: 3rem;
    text-align: initial;
  }

  .detailItemContainer .titulo{
    text-transform: uppercase;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }

  .detailItemContainer .precio{
    line-height: 25px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #767676;
  }

  .detailItemContainer .sim{
    font-size: 75%;
  }

  .detailItemContainer .description{
    font-size: 0.8rem;
    padding-top: 2rem;
  }

  .modalStyle{
    top: 40%;
    left: 50%;
    right: auto;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: 100ms;
  }